{
  "plugins": [
    "syntax-flow",
    "transform-decorators-legacy",
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }]
  ],
  "presets": [
    "env",
    "flow",
    "es2015",
    "stage-2"
  ]
}
